/* maintient le footer en bas de page */
.wrapper {
    min-height: 100vh;
    background:transparent;
    margin-bottom: -50px;/* Equal to height of footer */
} /* grace au push*/
.footer,
.push {
    height: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

form {
    margin: 0 auto;
    width: 50%;
}
@media screen and (max-width: 768px) {
    form {
        width: 100%;
    }
}

.hover:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
}
body#index {
    background-color: #000;
    color: white;
    background: url(../img/a.jpg) no-repeat center center fixed;
    background-size: cover;
}
body#jeu {
    background-color: #000;
    color: white;
    background: url(../img/b.jpg) no-repeat center center fixed;
    background-size: cover;
}
body#profil {
    background-color: #000;
    color: white;
    background: url(../img/c.jpg) no-repeat center center fixed;
    background-size: cover;
}
body#forms {
    background-color: #000;
    color: white;
    background: url(../img/c.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    margin-top: .5rem;
}
.container {
    height: 100vh;
}
.bg-creme {
    background-color: #EACC86;
}

.text-creme {
    color: #EACC86;
}

.btn-green {
    background-color: #92AA0C;
    color: #fff;
}

.money {
    /* position: absolute;
    left: 50%;
    margin-left: -50px;
    min-height: 100px; */
}
.moneyButton{
    /* width: 200px */
}

.mps{
    text-align: center;
}

@media (max-width: 767px) {
    
    burgerButton {
    display: block; 
    width: 60px;
    height: 60px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-bottom:5px;
    }
    burgerButton:hover{
    content: '\2261';
    }
    burgerButton:after{
    position: absolute;
    left: 20px;
    top: 3px;
    font-size: 40px;
    }
    nav.open burgerButton:after {
    content: '\00d7';
    }

    nav.close burgerButton:after {
    content: '\2261';
    }
    nav.close ul { 
    display: none; 
    }
    nav.open ul {
        display: flex;
        flex-direction: column;
    }
    nav.open ul li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    nav.open ul li:hover {
        background-color: #cccccc;
    }

}

