/* maintient le footer en bas de page */
.wrapper {
    min-height: 100vh;
    background:transparent;
    margin-bottom: -50px;/* Equal to height of footer */
} /* grace au push*/
.footer,
.push {
    height: 50px;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}

form {
    margin: 0 auto;
}

.hover:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
}
body#index {
    background-color: #000;
    color: white;
    background: url(../img/a.jpg) no-repeat center center fixed;
    background-size: cover;
}
body#jeu {
    background-color: #000;
    color: white;
    background: url(../img/b.jpg) no-repeat center center fixed;
    background-size: cover;
}
body#profil {
    background-color: #000;
    color: white;
    background: url(../img/b.jpg) no-repeat center center fixed;
    background-size: cover;
}
body#forms {
    background-color: #000;
    color: white;
    background: url(../img/b.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    height: 100vh;
}
.bg-creme {
    background-color: #EACC86;
}

.text-creme {
    color: #EACC86;
}

.btn-green {
    background-color: #92AA0C;
    color: #fff;
}

.moneyButton {
    background-image: url(../img/coin.png)!important;
    background: transparent;
    background-size: cover;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100px;
    height: 100px;
}
.moneyButton:hover {
    background-image: url(../img/coin-hover.png)!important;
}

.mps{
    text-align: center;
}
/**************UPGRADES**************/

#upgrdClick, #upgrdAuto, #upgrdAutoAmt {
    background-repeat: no-repeat;
    background-position: center; 
    border: none;
    width: 72px;
    height: 72px;
    cursor: pointer;
}

#upgrdClick {background-image: url('../img/1.png');}
#upgrdClick:hover {background-image: url('../img/10.png');}

#upgrdAuto {background-image: url('../img/2.png');}
#upgrdAuto:hover {background-image: url('../img/20.png');}

#upgrdAutoAmt {background-image: url('../img/3.png');}
#upgrdAutoAmt:hover {background-image: url('../img/30.png');}

@media (max-width: 599) {
    
    #upgrdClick, #upgrdAuto, #upgrdAutoAmt {
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

}

